# URL base da aplicação, usada para gerar URLs de retorno em pagamentos e assinaturas.
APP_URL=http://localhost:3000

# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=password
DB_DATABASE=nexus_rifa

# Credenciais do Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=SEU_ACCESS_TOKEN_AQUI
MERCADOPAGO_WEBHOOK_SECRET=SEU_WEBHOOK_SECRET_AQUI

# Segredo para assinatura de Tokens JWT
JWT_SECRET=SEU_SEGREDO_JWT_AQUI
